<!doctype html>
<html>
    <head>
        <style>
         
        </style>

    </head>
    <body>
        <p> welcome to Mathematics </p>
        <form method='post'>
            <textarea>
             1. In how many way can 2 students be selected form a group of 5 students for a debating competition?
            </textarea>    
            <p><input type="radio" name="option1" value="20 ways"> 20 ways </input></p>
            <p><input type="radio" name="option1" value="10 ways"> 10 ways </input></p>
            <p><input type="radio" name="option1" value="15 ways"> 15 ways </input></p>
            <p><input type="radio" name="option1" value="25 ways"> 25 ways </input></p>
     
            <textarea> 
                2. Find the rate of change of volume V of a hemisphere with respect to its radius r, when r = 2.
            </textarea>    
            <p><input type="radio" name="option2" value="8"> 8 </input></p>
            <p><input type="radio" name="option2" value="2"> 2 </input></p>
            <p><input type="radio" name="option2" value="16">16</input></p>
            <p><input type="radio" name="option2" value="4"> 4 </input></p>

            <textarea>
                3. Find the maximum value of y=3x2 + 5x -3 
            </textarea>
            <p><input type="radio" name="option3" value=" 6"> 6</input></p>
            <p><input type="radio" name="option3" value=" 0"> 0</input></p>
            <p><input type="radio" name="option3" value=" 2"> 2</input></p>
            <p><input type="radio" name="option3" value="No correct option"> No correct option </input></p>
          
            <p>4. A trapezium has two parallel sides of lengths 5cm and 9cm. if the area is 91cm2, what is the distance between the parallel sides? </p>
            <p><input type="radio" name="option4" value="13cm"> 13cm</input></p>
            <p><input type="radio" name="option4" value="12cm"> 12cm</input></p>
            <p><input type="radio" name="option4" value="9cm"> 8cm </input></p>
            <p><input type="radio" name="option4" value="9cm"> 9cm</input></p>
      
            <input type='submit'>  </input>
            <span>Your score is: {{total}}</span>
        </form>
    </body>
</html>