<!doctype html>
<html>
    <head>
        <style>
            
        </style>

    </head>
    <body>
        <p> Welcome, you can now take your test. </p>
        
        <p>Select your paper:</p>
        <form method='post'>
        
            <p><input type='radio', name='paper', value='Mathematics'> Mathematics </input></p>
        
            <p><input type='radio', name='paper', value='English'> English </input></p>
        
            <p><input type='radio', name='paper', value='General Knowledge'> General Knowledge</input></p>
        
            <p><input type='radio', name='paper', value='General Science'> General Science </input></p>
        
            <p><input type='submit', value='continue'></input></p>
        
        </form>

    </body>
</html>